/* based on fenc mini frameworks */

/* fonts declarations */
@font-face {
    font-family: 'Graphik';
    src: url('../../fonts/Graphik-400-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../../fonts/Graphik-400-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../../fonts/Graphik-500-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../../fonts/Graphik-500-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

html {
    font-family: 'Graphik';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}